html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #666666; }

.intro-header, .link {
  text-transform: uppercase; }

.anotation {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #cc9999; }

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #666666;
  font-size: 30px; }

.text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #666666;
  font-size: 14px; }

.wrap {
  width: 1200px;
  margin: 0 auto; }
  .wrap .intro {
    margin: 0 auto;
    width: 1062px;
    height: 770px;
    padding-top: 70px; }
    .wrap .intro .heading {
      margin-bottom: 72px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .wrap .intro .heading .intro-header {
        font-family: 'Inconsolata', monospace;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 6px;
        color: black;
        margin-right: 370px; }
      .wrap .intro .heading .intro-links a.link {
        color: #666666;
        font-size: 14px;
        transition: all 1s; }
      .wrap .intro .heading .intro-links a.link:hover {
        color: black;
        transition: all 1s; }
      .wrap .intro .heading .intro-links a.link:not(:last-child) {
        margin-right: 100px; }
  .wrap .text_block {
    margin: 0 auto;
    width: 900px;
    height: 486px; }
    .wrap .text_block .text_block-anotation {
      margin-bottom: 28px; }
    .wrap .text_block .text_block-title {
      margin-bottom: 34px; }
    .wrap .text_block .text_block-text {
      margin-bottom: 52px;
      line-height: 1.5; }
    .wrap .text_block .text_block-comment_link {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      color: #cc9999;
      transition: all 0.5s; }
    .wrap .text_block .text_block-comment_link:hover {
      color: #686256;
      transition: all 0.5s; }

/*# sourceMappingURL=style.css.map */
