@import "../sass/reset.scss";

@mixin header_font {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 6px;
}

@mixin regular_text {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #666666;
    line-height: 1.5;
}

@mixin photo_anotation {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #cc9999;
}

* {
    box-sizing: border-box;
}

body {
    @include regular_text();
}

.intro-header, .link {
    text-transform: uppercase;
}

.anotation {
    @include photo_anotation();
}

.title {
    @include regular_text();
    font-size: 30px;
}

.text {
    @include regular_text();
    font-size: 14px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    //background-color: red;
    .intro {
        margin: 0 auto;
        width: 1062px;
        height: 770px;
        //background-color: green;
        padding-top: 70px;
        .heading {
            margin-bottom: 72px;
            display: flex;
            //background-color: blue;
            justify-content: center;
            align-items: center;
            .intro-header {
                @include header_font();
                color: black;
                margin-right: 370px;
            }
            .intro-links {
                //background-color: yellow;
                a.link {
                    color: #666666;
                    font-size: 14px;
                    transition: all 1s;
                    text-decoration: none;
                }
                a.link:hover {
                    color: black;
                    transition: all 1s;
                }
                a.link:not(:last-child) {
                    margin-right: 100px;
                }
            }
        }
    }
    
    .text_block {
        margin: 0 auto;
        width: 900px;
        height: 486px;
        //background-color: blue;
        .text_block-anotation {
            margin-bottom: 28px;
            //background-color: brown;
        }
        .text_block-title {
            margin-bottom: 34px;
        }
        .text_block-text {
            margin-bottom: 52px;
        }
        .text_block-comment_link {
            @include photo_anotation();
            transition: all 0.5s;
            text-decoration: none;
        }
        .text_block-comment_link:hover {
            color: #686256;
            transition: all 0.5s;
        }
    }

    .grid {
        margin: 0 auto;
        width: 900px;
        height: 1210px;
        //background-color: cadetblue;
        .grid-row {
            .grid-photo {
                margin-bottom: 32px;
            }
            .grid-anotation {
                margin-bottom: 28px;
            }
            .grid-title {
                margin-bottom: 34px;
            }
        }
        .grid-row:first-child {
            margin-bottom: 132px;
        } 
    }

    .email {
        margin: 0 auto;
        width: 1200px;
        height: 287px;
        background-color: #f0f0f0;
        text-align: center;
        .email-title {
            margin-top: 65px;
            margin-bottom: 80px;
            color: #333333;
            display: inline-block;
        }
        .mail_block {
            position: relative;
            display: flex;
            width: 400px;
            margin: 0 auto;
            .email-field {
                border: none;
                width: 400px;
                border-bottom: 1px solid #333333;
                background-color: #f0f0f0;
            }
            .email-field[type=email]:focus {
                outline: none;
            }
            .email-send_button {
                border: none;
                border-bottom: 1px solid #333333;
            }
            .email-send_button:focus {
                outline: none;
            }
        }
    }
}